<?xml version="1.0"?>
<SEOCheckerBotFilter>
  <!--
  This configuration file is used in 404 process to determine if the request came from a (hack) bot
  Instead of logging the request a 404 is shown.
  
  IMPORTANT
  You can modify this file but this file will be overwritten during an upgrade of SEOChecker. 
  If you think your custom entry should be in the core file please send an email to support@soetemansoftware.nl
  -->
  <userAgentFilters>
    <userAgent>^sqlmap/</userAgent>
    <userAgent>^SBL-BOT</userAgent>
    <userAgent>^SKbot001</userAgent>
    <userAgent>^MPDP-ALR-Search-Bot</userAgent>
    <userAgent>^PHPCrawl</userAgent>
    <userAgent>^WordPress/4.3</userAgent>
    <userAgent>{ :;};</userAgent>
    <userAgent>http://tools.geek-tools.org</userAgent>
    <userAgent>betaBot</userAgent>
  </userAgentFilters>
  <urlFilters>
    <urlFilter>fckeditor/editor</urlFilter>
    <urlFilter>/tiny_mce/</urlFilter>
    <urlFilter>/backoffice/</urlFilter>
    <urlFilter>wp-login.php$</urlFilter>
    <urlFilter>administrator/index.php$</urlFilter>
    <urlFilter>wp-content/</urlFilter>
    <urlFilter>wp-admin/</urlFilter>
    <urlFilter>wp-includes/</urlFilter>
    <urlFilter>wp-trackback.php$</urlFilter>
    <urlFilter>^editor/editor/filemanager/</urlFilter>
    <urlFilter>^SlurpConfirm404/</urlFilter>
    <urlFilter>elfinder.*.html$</urlFilter>
    <urlFilter>elfinder.*connector.php$</urlFilter>
    <urlFilter>thumb_editor.php$</urlFilter>
    <urlFilter>assetmanager/assetmanager.(php|asp)$</urlFilter>
    <urlFilter>uploadify.php$</urlFilter>
    <urlFilter>php/connector.php$</urlFilter>
    <urlFilter>admin/file_manager.php/login.php$</urlFilter>
    <urlFilter>php/connector.php$</urlFilter>
    <urlFilter>admin/banner_manager.php/login.php$</urlFilter>
    <urlFilter>plupload.*upload.php$</urlFilter>
    <urlFilter>administrator/components/com_</urlFilter>
    <urlFilter>type="text/javascript"</urlFilter>
  </urlFilters>
</SEOCheckerBotFilter>
