<?xml version="1.0"?>
<SEOChecker version="0">
  <trigger triggerOnPublish="true"></trigger>
  <xmlSiteMap excludeUmbracoNaviHide="true"/>
  <urlRewrite forcewwwUrls="ignore" useTrailingSlashProperty="ignore"/>
 <documentTypeConfiguration>
  </documentTypeConfiguration>
  <emailConfiguration></emailConfiguration>
</SEOChecker>
