@inherits UmbracoViewPage<website.Models.BiotopeModel>

@{
    Layout = "~/Views/Master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<p>BIOTOPE_KEY: @Model.Key</p>
<p>DESCRIPTION: @Model.Description</p>