@using MHC.Umbraco.Plugin.Models
@inherits UmbracoViewPage<BiotopeModel>
@{
    Layout = "~/Views/Master.cshtml";
}

<div class="grid-row">
    <div class="column-full">
        @Html.Partial("~/Views/Partials/SectionHeader.cshtml")
        @{Html.RenderPartial("MarineHabitatClassification/BiotopeTitle");}
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        @{Html.RenderPartial("MarineHabitatClassification/BiotopePhotos");}
    </div>
</div>

<div class="grid-row">
    <div class="column-one-half">
        <br />
        @{Html.RenderPartial("MarineHabitatClassification/BiotopeSideContent");}
    </div>
    <div class="column-one-half">
        <div class="grid-row">
            @{Html.RenderPartial("MarineHabitatClassification/BiotopeMap");}
        </div>
    </div>
    <div class="column-full">
        @{Html.RenderPartial("MarineHabitatClassification/BiotopeMainContent");}
    </div>
</div>
