@using MHC.Umbraco.Plugin.Models
@inherits UmbracoViewPage<BiotopeModel>
@{
    Layout = "~/Views/Master.cshtml";
}

<div class="grid-row">
    <div class="column-full">
        @Html.Partial("~/Views/Partials/SectionHeader.cshtml")
        @{Html.RenderPartial("~/Views/Partials/MarineHabitatClassification/BiotopeTitle.cshtml");}
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        @{Html.RenderPartial("~/Views/Partials/MarineHabitatClassification/BiotopePhotos.cshtml");}
    </div>
</div>

<div class="grid-row">
    <div class="column-one-half">
        <br />
        @{Html.RenderPartial("~/Views/Partials/MarineHabitatClassification/BiotopeSideContent.cshtml");}
    </div>
    <div class="column-one-half">
        <div class="grid-row">
            @{Html.RenderPartial("~/Views/Partials/MarineHabitatClassification/BiotopeMap.cshtml");}
        </div>
    </div>
    <div class="column-full">
        @{Html.RenderPartial("~/Views/Partials/MarineHabitatClassification/BiotopeMainContent.cshtml");}
    </div>
</div>
