<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT mHCContentPage ANY>
<!ATTLIST mHCContentPage id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT people ANY>
<!ATTLIST people id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT marineHabitatClassification ANY>
<!ATTLIST marineHabitatClassification id ID #REQUIRED>
<!ELEMENT biotopes ANY>
<!ATTLIST biotopes id ID #REQUIRED>
<!ELEMENT biotope ANY>
<!ATTLIST biotope id ID #REQUIRED>
]>
<root id="-1">
  <home id="1094" key="156f1933-e327-4dce-b665-110d62720d03" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-06T10:53:39" updateDate="2018-01-22T14:51:16" nodeName="Home" urlName="home" path="-1,1094" isDoc="" nodeType="1084" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="1055" nodeTypeAlias="home" isPublished="true">
    <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "macro",
                "embed",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "latestBlogposts",
                    "macroParamsDictionary": {
                      "numberOfPosts": "3",
                      "startNodeId": "umb://document/1cb33e0a400a49389547b05a35739b8b"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "cbb67dcf-dc82-700a-617f-84e754458e6a"
        }
      ]
    }
  ]
}]]></bodyText>
    <HeroBackgroundImage><![CDATA[umb://media/3d758b1f24ec47b0a75c225b0444991b]]></HeroBackgroundImage>
    <sitename><![CDATA[Umbraco Sample Site]]></sitename>
    <font>37</font>
    <colorTheme>34</colorTheme>
    <footerAddress><![CDATA[Umbraco HQ - Unicorn Square - Haubergsvej 1 - 5000 Odense C - Denmark - +45 70 26 11 62]]></footerAddress>
    <footerCTACaption><![CDATA[Read All on the Blog]]></footerCTACaption>
    <FooterCtalink><![CDATA[umb://document/1cb33e0a400a49389547b05a35739b8b]]></FooterCtalink>
    <footerDescription><![CDATA[Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat]]></footerDescription>
    <footerHeader><![CDATA[Umbraco Demo]]></footerHeader>
    <heroHeader><![CDATA[Umbraco Demo]]></heroHeader>
    <heroDescription><![CDATA[Moonfish, steelhead, lamprey southern flounder tadpole fish sculpin bigeye, blue-redstripe danio collared dogfish. Smalleye squaretail goldfish arowana butterflyfish pipefish wolf-herring jewel tetra, shiner; gibberfish red velvetfish. Thornyhead yellowfin pike threadsail ayu cutlassfish. Hello world!]]></heroDescription>
    <contentPage id="1110" key="d62f0f1d-e4a9-4093-94ae-4efce18872ee" parentID="1094" level="2" creatorID="0" sortOrder="2" createDate="2017-12-06T10:53:40" updateDate="2017-12-12T15:17:14" nodeName="About Us" urlName="about-us" path="-1,1094,1110" isDoc="" nodeType="1089" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="1054" nodeTypeAlias="contentPage" isPublished="true">
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Oooh la la",
                  "editor": {
                    "alias": "headline"
                  },
                  "styles": null,
                  "config": null
                }
              ]
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "295c0639-aea7-219f-3f3c-bb2e7fcd099c"
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1133,
                    "image": "/media/1002/18095416144_44a566a5f4_h.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "embed",
                "headline",
                "quote"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>\n<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<iframe width=\"360\" height=\"203\" src=\"https://www.youtube.com/embed/HPgKSCp_Y_U?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>",
                  "editor": {
                    "alias": "embed"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "ea5aec16-412c-26dc-6649-462288d5ad5d"
        }
      ]
    }
  ]
}]]></bodyText>
      <pageTitle><![CDATA[About Us]]></pageTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <contentPage id="1111" key="2b804661-b071-473b-9604-d9004ff341ab" parentID="1110" level="3" creatorID="0" sortOrder="0" createDate="2017-12-06T10:53:40" updateDate="2017-12-06T10:53:43" nodeName="About this Starter Kit" urlName="about-this-starter-kit" path="-1,1094,1110,1111" isDoc="" nodeType="1089" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="1054" nodeTypeAlias="contentPage" isPublished="true">
        <bodyText><![CDATA[{"name":"1 column layout","sections":[{"grid":"12","rows":[]}]}]]></bodyText>
        <pageTitle><![CDATA[About this Starter Kit]]></pageTitle>
        <umbracoNavihide>0</umbracoNavihide>
      </contentPage>
      <contentPage id="1112" key="0fcf0fff-f19e-4df9-b3a5-a5fcd2c460ab" parentID="1110" level="3" creatorID="0" sortOrder="1" createDate="2017-12-06T10:53:40" updateDate="2017-12-06T10:53:43" nodeName="Todo list for the Starter Kit" urlName="todo-list-for-the-starter-kit" path="-1,1094,1110,1112" isDoc="" nodeType="1089" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="1054" nodeTypeAlias="contentPage" isPublished="true">
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Here's what could be improved in the Starter Kit so far:</p>\n<p> </p>\n<p>For v1:</p>\n<ul>\n<li>Use a custom grid editor for testimonials</li>\n<li>Integrated Analytics on pages</li>\n<li>Call To Action Button in the grid (with \"Tag Manager\" integration)</li>\n<li>Macro for fetching products (with friendly grid preview)</li>\n<li>Design Review (polish)</li>\n<li>Verify licenses of photos (Niels)</li>\n</ul>\n<p>For vNext</p>\n<ul>\n<li><span style=\"text-decoration: line-through;\">Swap text with uploaded logo</span></li>\n<li>Nicer pickers of products and employees</li>\n<li>Custom Listview for products and employees</li>\n<li>Discus template on blog posts</li>\n<li>404 template</li>\n<li>Member Login/Register/Profile/Forgot password</li>\n<li>Update default styling of grid header</li>\n<li>On a Blog post -&gt; Share/Social (tweet this / facebook this)</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "styles": null,
                  "config": null,
                  "active": true
                }
              ]
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "74647d9c-958f-8877-8e60-03771deeb7d6"
        }
      ]
    }
  ]
}]]></bodyText>
        <pageTitle><![CDATA[Things to improve]]></pageTitle>
        <umbracoNavihide>0</umbracoNavihide>
      </contentPage>
    </contentPage>
    <contact id="1117" key="71a7e71e-7db2-4b9d-a71c-559b11c683c0" parentID="1094" level="2" creatorID="0" sortOrder="4" createDate="2017-12-06T10:53:40" updateDate="2017-12-06T15:02:22" nodeName="Contact" urlName="contact" path="-1,1094,1117" isDoc="" nodeType="1088" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="1053" nodeTypeAlias="contact" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <contactFormHeader><![CDATA[Send Us A Message]]></contactFormHeader>
      <contactForm><![CDATA[adf160f1-39f5-44c0-b01d-9e2da32bf093]]></contactForm>
      <pageTitle><![CDATA[Let's have a chat]]></pageTitle>
      <contactIntro><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget lacinia nisl. Aenean sollicitudin diam vitae enim ultrices, semper euismod magna efficitur.</p>]]></contactIntro>
      <apiKey><![CDATA[AIzaSyBSjIm2tkaskXtivVDbvlXcWkP6JDCoqA4]]></apiKey>
      <mapHeader><![CDATA[You'll find us here]]></mapHeader>
      <map><![CDATA[{
  "zoom": 13,
  "position": {
    "id": "WGS84",
    "datum": "55.406321,10.387015"
  }
}]]></map>
    </contact>
    <marineHabitatClassification id="1137" key="39557200-e28f-4af0-b3fd-ec2c85e8af4a" parentID="1094" level="2" creatorID="0" sortOrder="5" createDate="2017-12-06T14:50:22" updateDate="2017-12-11T09:45:03" nodeName="Marine Habitat Classification" urlName="marine-habitat-classification" path="-1,1094,1137" isDoc="" nodeType="1136" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="1135" nodeTypeAlias="marineHabitatClassification" isPublished="true">
      <pageTitle><![CDATA[Marine Habitat Classification]]></pageTitle>
      <biotopes id="2055" key="6f75b0cd-d0f0-4583-855d-7d6106b3a49e" parentID="1137" level="3" creatorID="0" sortOrder="0" createDate="2017-12-08T14:35:09" updateDate="2017-12-11T11:36:55" nodeName="Biotopes" urlName="biotopes" path="-1,1094,1137,2055" isDoc="" nodeType="2054" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="2053" nodeTypeAlias="biotopes" isPublished="true">
        <pageTitle><![CDATA[Biotope Hierarchy]]></pageTitle>
        <biotope id="4051" key="f0d0a0b3-724b-46ee-a2d8-8cc8fd08a923" parentID="2055" level="4" creatorID="0" sortOrder="0" createDate="2017-12-12T14:18:22" updateDate="2017-12-15T15:35:42" nodeName="Biotope" urlName="biotope" path="-1,1094,1137,2055,4051" isDoc="" nodeType="3053" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="3052" nodeTypeAlias="biotope" isPublished="true">
          <pageTitle><![CDATA[Biotope Classification]]></pageTitle>
        </biotope>
      </biotopes>
      <mHCContentPage id="9056" key="777181f1-aa38-402f-948d-05fe3898d713" parentID="1137" level="3" creatorID="0" sortOrder="0" createDate="2018-01-22T15:01:32" updateDate="2018-01-22T15:03:21" nodeName="Our Classification" urlName="our-classification" path="-1,1094,1137,9056" isDoc="" nodeType="9054" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="9055" nodeTypeAlias="mHCContentPage" isPublished="true">
        <pageTitle><![CDATA[Our classification]]></pageTitle>
      </mHCContentPage>
      <mHCContentPage id="9057" key="66bade86-ce0d-4fe0-b150-afcd7e2fb966" parentID="1137" level="3" creatorID="0" sortOrder="2" createDate="2018-01-22T15:02:06" updateDate="2018-01-22T15:03:28" nodeName="Data Library" urlName="data-library" path="-1,1094,1137,9057" isDoc="" nodeType="9054" creatorName="Cathy Jin" writerName="Cathy Jin" writerID="0" template="9055" nodeTypeAlias="mHCContentPage" isPublished="true">
        <pageTitle><![CDATA[Data library]]></pageTitle>
      </mHCContentPage>
    </marineHabitatClassification>
  </home>
</root>