//  GOV.UK font stacks, referred to in typography.scss

// MHC font stack
$mhc-font: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Tabular font stack
$mhc-font-tabular: $mhc-font;

// Font reset for print
$print-reset: sans-serif;
