@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = Umbraco.TypedContentAtRoot().FirstOrDefault();
    var currentPage = Umbraco.TypedContent(UmbracoContext.Current.PageId);
}
@if (home.Name.Equals(currentPage.Name))
{
    <title>JNCC @Umbraco.TypedContentAtRoot().FirstOrDefault().Name</title>
}
else
{
    <title>@Model.Content.GetPropertyValue("PageTitle") - JNCC @Umbraco.TypedContentAtRoot().FirstOrDefault().Name</title>
}