<div ng-controller="seoChecker.generalSettingsController" ng-cloak>
    <form name="frm" ng-show="loaded" novalidate
          val-form-manager>
        <umb-editor-view>

            <umb-editor-header name="model.pageName"
                               name-locked="true"
                               hide-icon="true"
                               tabs="model.tabs"
                               hide-description="true"
                               hide-alias="true">
            </umb-editor-header>

            <umb-editor-container>
                <seochecker-licenseinfo></seochecker-licenseinfo>
                <div class="alert alert-error" ng-if="model.isInValid">
                    <ul>
                        <li ng-repeat="validationMessage in model.validationMessages">{{validationMessage}}</li>
                    </ul>
                </div>
                <umb-tabs-content class="form-horizontal" view="true">
                    <umb-tab id="tab{{tab.id}}" ng-repeat="tab in model.tabs" rel="{{tab.id}}">
                        <umb-property ng-repeat="property in tab.properties" property="property">
                            <umb-editor model="property"></umb-editor>
                        </umb-property>
                    </umb-tab>
                </umb-tabs-content>

            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <a class="btn btn-success" ng-click="save()"><localize key="buttons_save">Save</localize></a>
                </umb-editor-footer-content-right>
            </umb-editor-footer>

        </umb-editor-view>

    </form>
</div>