@using MHC.Umbraco.Plugin.Models
@using System.Configuration
@inherits UmbracoViewPage<BiotopeModel>
@{
    string biomapUrl = ConfigurationManager.AppSettings["BiotopeMapUrl"] + Model.Biotope.OriginalCode;
}

<head>
    <link rel="stylesheet" media="all" href="~/App_Plugins/MarineHabitatClassification/css/biotope.min.css" />
</head>

<div id="biotope-map" class="biomap">
    <div class="loading">
        <img alt="Distribution of habitat @Model.Biotope.OriginalCode @Html.Raw(HttpUtility.HtmlDecode(Model.Biotope.FullTerm))"
             src="@biomapUrl" />
    </div>
    <ul>
        <li><span class="legend">Records used to define the biotope (core records)</span></li>
        <li><span class="legend">Other records assigned to this biotope, marked as 'certain'</span></li>
        <li><span class="legend">Other records assigned to this biotope, marked as 'uncertain'</span></li>
        @if (!Model.Biotope.OriginalCode.StartsWith("LS") && !Model.Biotope.OriginalCode.StartsWith("LR"))
        {
            <li><span class="legend">Predicted extent of the level 3 (for sublittoral rock & deep sea) or 4 (for sublittoral sediment) habitat</span></li>
        }
    </ul>
    <p>
        <span class="legend">
            Point data based on records in the <a href="http://jncc.defra.gov.uk/page-1599" target="_blank">UK Marine Recorder Snapshot</a>.
            @if (!Model.Biotope.OriginalCode.StartsWith("LS") && !Model.Biotope.OriginalCode.StartsWith("LR"))
            {
                <span>Predicted habitat extent is from <a href="http://jncc.defra.gov.uk/page-7354" target="_blank">UKSeaMap</a>.</span>
            }
        </span>
    </p>
</div>