@inherits UmbracoTemplatePage
@{ 
    var queryString = Request.QueryString["q"];
}

<head>
    <link rel="stylesheet" href="~/App_Plugins/MarineHabitatClassification/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" media="all" href="~/App_Plugins/MarineHabitatClassification/css/biotope.min.css" />
</head>

<div id="biotope-search-bar" class="search-field">
    <input id="searchBox" type="search" placeholder="Search for a biotope" aria-label="Search for a biotope" value="@queryString" />
    <button class="button" onclick="search(1)"><span class="glyphicon glyphicon-search"></span></button>
</div>