@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="section">
    <div class="container">
        <div class="grid-row">
            <div class="column-full">
                @Model.Content.GetPropertyValue("content")
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
            </div>
            <div class="column-full">
                <p>
                    @{Html.RenderPartial("MarineHabitatClassification/BiotopeTreeLevels");}
                </p>
            </div>
            <div class="column-full">
                @{Html.RenderPartial("MarineHabitatClassification/BiotopeTree");}
            </div>
        </div>
    </div>
</section>