@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="container">
    <br />
    @Html.Partial("~/Views/Partials/SectionHeader.cshtml")

    
    @Html.GetGridHtml(Model.Content, "bodyText", "foundation")
    <br />
</div>
