@inherits UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<section class="section">
    <div class="container">

        <p>Home</p>
    </div>
</section>