@inherits UmbracoTemplatePage
@using System.Configuration
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";

    var searchUrl = ConfigurationManager.AppSettings["FlexSearchUrl"] + "/indices/biotope/search";
    var biotopeUrl = CurrentPage.UrlWithDomain() + "biotopes/biotope/";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<script type="text/javascript">
    function search() {
        var queryInput = document.getElementById("searchField").value;
        var queryString = 'anyof(biotopeKey,\'' + queryInput + '\') or anyof(fullTerm,\'' + queryInput + '\', -boost \'45\') or anyof(originalCode,\'' + queryInput + '\', -boost \'30\') or anyof(description,\'' + queryInput + '\', -boost \'10\')';
        $.getJSON('@searchUrl', { c: '*', q: queryString },
            function (data, status) {
                var searchResultText = "";
                for (var i = 0; i < data.data.documents.length; i++) {
                    var biotope = data.data.documents[i].fields;
                    console.log(biotope);
                    searchResultText = searchResultText + "<div class=\"search-result\">" +
                        "<h3><span class=\"icon\" style=\"background-color:red\"/>&nbsp;&nbsp;</span>&nbsp;<span class=\"biotope-code\">" + biotope.originalCode +"</span>&nbsp;&nbsp;<a href=\"@biotopeUrl" + biotope.biotopeKey + "\">" + biotope.fullTerm + "</a></h3>" +
                        "<div class=\"description\">"+biotope.description+"</div></div>";
                }
                document.getElementById("searchResults").innerHTML = searchResultText;
            });
    }
</script>
<section class="section">
    <div class="container">

        <p>Home</p>
        <div class="grid-row">
            <div class="column-full">
                <p>
                    <input id="searchField" class="form-control" type="text"/>
                    <button type="submit" onclick="search()">Search</button>
                </p>
                <div id="searchResults"></div>
            </div>
        </div>
    </div>
</section>