@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="section">
    <div class="container">
        <div class="grid-row">
            <div class="column-full">
                @Model.Content.GetPropertyValue("bodyText")
            </div>
        </div>
        <br />
        <div class="grid-row">
            <div class="column-two-thirds">
                @{Html.RenderPartial("~/Views/Partials/MarineHabitatClassification/SearchBar.cshtml");}
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                @{Html.RenderPartial("~/Views/Partials/MarineHabitatClassification/SearchResults.cshtml");}
            </div>
        </div>
    </div>
</section>