@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<MarineHabitatClassification>
@using Newtonsoft.Json.Linq
@{
    Layout = "Master.cshtml";
    
    var url = "http://localhost:54760/Biotope/";
    HttpWebRequest request = (HttpWebRequest)WebRequest.Create(url);//
    request.Method = "GET";
    //request.ContentType = "application/x-www-form-urlencoded";

    HttpWebResponse response = (HttpWebResponse)request.GetResponse();
    string content = "";
    using (System.IO.StreamReader sr = new System.IO.StreamReader(response.GetResponseStream()))
    {
        content = sr.ReadToEnd();
    }
    
    var json = JArray.Parse(content);
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">
    <div class="container">
        <div class="biotope-grid">
            @if (json != null)
            {
                foreach (var biotopePair in json)
                {
                    <div class="biotope-pair">@biotopePair</div>
                }
            }
        </div>
    </div>
</section>