@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">
    <div class="container">

        <p>MHC intro here</p>
        <a href="biotopes">Biotope hierarchy</a>
    </div>
</section>