<connectionStrings>
  <remove name="BiotopeDB"/>
  <add name="BiotopeDB" connectionString="metadata=res://*/Models.BiotopeDB.csdl|res://*/Models.BiotopeDB.ssdl|res://*/Models.BiotopeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=biotope-db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
