.similar-biotope{
    width: 19em;
    float: left;
    margin-right: 0.5em;
    img {
        width: 19em;
    }
}

.biotope-image {
    width: 100%;
}

.biomap {
    .loading {
        width: 450px;
        height: 600px;
        background: transparent url('/media/1005/loading_map.png') no-repeat center;
    }

    .legend {
        color: black;
        font-size: medium;
    }

    ul {
        padding-left: 1.2em;
    }

    ul li:nth-child(1) {
        color: red;
        font-size: large;
    }

    ul li:nth-child(2) {
        color: cyan;
        font-size: large;
    }

    ul li:nth-child(3) {
        color: black;
        font-size: large;
    }

    ul li:nth-child(4) {
        list-style-image: url("svg/legend_rectangle.svg");
        font-size: x-large;
        line-height: 1;
    }
}

.search-field {
    margin-bottom: 2em;

    input {
        font-size: 19px;
        height: 44px;
        padding-left: 0.5em;
        margin-right: -4px;
        width: 75%;
    }

    button {
        background-color: #2b8cc4;
        border-radius: 0;
        box-shadow: none;
        width: 50px;
        height: 50px;
        border: none;
    }

    button:hover, button:active {
        background-color: #267daf;
    }
}

.search-result {
    margin-bottom: 2em;

    .biotope-code {
        color: black;
    }

    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.pagination {
    display: inline-block;

    .page {
        float: left;
        padding: 8px 16px;
        font-size: larger;
    }

    .link-page {
        text-decoration: underline;
    }

    .link-page:hover {
        background-color: #dee0e2;
        cursor: pointer;
    }
}

.colour-button:hover {
    text-decoration: underline;
}

.mhc-copyright {
    margin-bottom: 1em;
    text-align: center;
}

.mhc-footer-category {
    margin-top: 1em;
    margin-bottom: 2em;

    img {
        width: 2em;
        height: 2em;
    }

    .contact-us {
        margin-right: 1em;
        float: left;
    }
}

/*
    Taken from Topcat
*/
.tag {
    white-space: nowrap;
    display: inline-block;
    background-color: white;
    padding-right: 0.5em;
    margin: 0 0.8em 0.45em 0;

    > .vocabful-colour-edge {
        display: inline-block;
        width: 7px;
        margin-right: 2px;
    }

    > .vocabless-colour-edge {
        display: inline-block;
        width: 0;
        margin-right: 0.15em;
    }

    position: relative; // so that the squashed-tag::after element can be positioned absolute
    &.squashed-tag {
        width: 60px;
        margin-right: 0;
        // hide long keyword values from sticking out under the next tag to the right; vertical-align stops heights messing up
        overflow: hidden;
        vertical-align: top;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1.5em;
            height: 100%;
            background: linear-gradient(to right, rgba(238,238,238, 0), white 70%);
        }
    }
}