.similar-biotope{
    width: 19em;
    float: left;
    margin-right: 0.5em;
    img {
        width: 19em;
    }
}

.biotope-image {
    width: 100%;
}

.biomap {
    .loading {
        height: 400px;
        background: transparent url('/media/1005/loading_map.png') no-repeat center;
    }

    .legend {
        color: black;
        font-size: medium;
    }

    ul {
        padding-left: 1em;
    }

    ul li:nth-child(1) {
        color: red;
    }

    ul li:nth-child(2) {
        color: cyan;
    }

    ul li:nth-child(3) {
        color: black;
    }

    ul li:last-child {
        list-style-type: square;
        color: gold;
        font-size: large;
    }
}

.treeview {
    a {
        text-decoration: none;
    }
    ol, ul, nav ol, nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .blue {
        color: blue;
    }
}

.mhc-copyright {
    margin-bottom: 1em;
    text-align: center;
}

.mhc-footer-category {
    margin-top: 1em;
    margin-bottom: 2em;

    img {
        width: 2em;
        height: 2em;
    }

    .contact-us {
        margin-right: 1em;
        float: left;
    }
}